<div class="content-page">
    <div class="content">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Manage Product</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="javascript:void(0);" class="btn btn-primary mb-2" id="btn-add"><i
                                        class="mdi mdi-plus-circle mr-2"></i>Add Product</a>
                                <a href="/api/product/export-excel" class="btn btn-success mb-2" id="btn-export"><i
                                        class="dripicons-export mr-2"></i>Export Excel</a>
                            </div>
                            <div class="col-sm-8">
                                <div class="text-sm-right">
                                    <form>
                                        <label for="search">Search: </label>
                                        <input id="search" type="search" style="max-width: 250px;" class="form-control d-inline-block" name="search" placeholder="Search..."
                                               value="<%= data.search %>">
                                    </form>
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-9">
                            </div>
                            <div class="col-sm-3">
                                <form>
                                    <select id="filter-category" class="select2 form-control" data-toggle="select2">
                                        <option value="">Choose filter</option>
                                        <% data.category.forEach(item => { %>
                                            <option value="<%= item._id %>"
                                                <% if (data.categoryFilter) { %>
                                                    <%= data.categoryFilter.includes(item._id) ? "selected" : "" %>
                                                <% } %>
                                            ><%= item.name %></option>
                                        <% }) %>
                                    </select>
                                </form>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                                <thead class="thead-light">
                                <tr>
                                    <th class="all" style="width: 20px;">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th class="all">Product</th>
                                    <th>Category</th>
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Added at</th>
                                    <th style="width: 150px;">Action</th>
                                </tr>
                                </thead>
                                <tbody id="items-show"></tbody>
                            </table>
                        </div>

                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-sm-12" id="pagination"></div>
                        </div>
                        <!-- End Pagination -->
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- End Content -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2018 - 2020 © Hyper - Coderthemes.com
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-md-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div> <!-- content-page -->

<!-- Modal add -->
<div id="modal-add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Add Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="add-name">Name</label>
                                <input type="text" class="form-control" id="add-name" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label for="add-category">Category</label>
                                <select id="add-category" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                    <% data.category.forEach(item => { %>
                                        <option value="<%= item._id %>"><%= item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="add-author">Author</label>
                                <select id="add-author" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                    <% data.author.forEach(item => { %>
                                        <option value="<%= item._id %>"><%= item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="add-publisher">Publisher</label>
                                <select id="add-publisher" class="form-control select2" data-toggle="select2">
                                    <% data.publisher.forEach(item => { %>
                                        <option value="<%= item._id %>"><%= item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="add-publishedat">Published at</label>
                                <input type="text" class="form-control date" id="add-publishedat" data-toggle="date-picker" data-single-date-picker="true">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="add-price">Price</label>
                                <input type="text" class="form-control" value="0" id="add-price" data-toggle="input-mask" data-mask-format="000.000.000.000.000 đ" data-reverse="true">
                            </div>
                            <div class="form-group">
                                <label for="add-sale">Sale</label>
                                <input type="text" class="form-control" value="0" id="add-sale" data-toggle="input-mask" data-mask-format="000.000.000.000.000 đ" data-reverse="true">
                            </div>
                            <div class="form-group">
                                <label for="add-image">Image</label>
                                <input type="file" class="form-control-file" id="add-image">
                            </div>
                            <div class="form-group">
                                <label for="add-description">Description</label>
                                <textarea class="form-control" id="add-description" rows="6" placeholder="Enter description"></textarea>
                            </div>
                        </div>
                    </div>
                    <p class="invalid-feedback font-14" id="add-error"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div><!-- end modal add -->

<!-- Modal view -->
<div id="modal-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">View Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="view-name">Name</label>
                                <p id="view-name"></p>
                            </div>
                            <div class="form-group">
                                <label for="view-category">Category</label>
                                <div id="view-category"> </div>
                            </div>
                            <div class="form-group">
                                <label for="view-author">Author</label>
                                <div id="view-author"> </div>
                            </div>
                            <div class="form-group">
                                <label for="view-publisher">Publisher</label>
                                <div id="view-publisher"> </div>
                            </div>
                            <div class="form-group">
                                <label for="view-publishedat">Published at</label>
                                <div id="view-publishedat"> </div>
                            </div>
                            <div class="form-group">
                                <label for="view-price">Price</label>
                                <p id="view-price"> </p>
                            </div>
                            <div class="form-group">
                                <label for="view-sale">Sale</label>
                                <p id="view-sale"> </p>
                            </div>
                            <div class="form-group">
                                <label for="view-amount">Amount in stock</label>
                                <p id="view-amount"> </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="view-image">Image</label>
                                <div id="view-image" style="max-width: 200px"> </div>
                            </div>
                            <div class="form-group">
                                <label for="view-description">Description</label>
                                <div id="view-description" class="p-2" style="border: 1px dashed #98a6ad"> </div>
                            </div>
                        </div>
                    </div>
                    <p class="invalid-feedback font-14" id="add-error"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div><!-- end modal add -->

<!-- Modal edit -->
<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Add Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="edit-name">Name</label>
                                <input type="text" class="form-control" id="edit-name" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label for="edit-category">Category</label>
                                <select id="edit-category" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                    <% data.category.forEach(item => { %>
                                        <option value="<%= item._id %>"><%= item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit-author">Author</label>
                                <select id="edit-author" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                    <% data.author.forEach(item => { %>
                                        <option value="<%= item._id %>"><%= item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit-publisher">Publisher</label>
                                <select id="edit-publisher" class="form-control select2" data-toggle="select2">
                                    <% data.publisher.forEach(item => { %>
                                        <option value="<%= item._id %>"><%= item.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit-publishedat">Published at</label>
                                <input type="text" class="form-control date" id="edit-publishedat" data-toggle="date-picker" data-single-date-picker="true">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="edit-price">Price</label>
                                <input type="text" class="form-control" value="0" id="edit-price" data-toggle="input-mask" data-mask-format="000.000.000.000.000 đ" data-reverse="true">
                            </div>
                            <div class="form-group">
                                <label for="edit-sale">Sale</label>
                                <input type="text" class="form-control" value="0" id="edit-sale" data-toggle="input-mask" data-mask-format="000.000.000.000.000 đ" data-reverse="true">
                            </div>
                            <div class="form-group">
                                <label for="edit-image">Image</label>
                                <input type="file" class="form-control-file" id="edit-image">
                            </div>
                            <div class="form-group">
                                <label for="edit-description">Description</label>
                                <textarea class="form-control" id="edit-description" rows="6" placeholder="Enter description"></textarea>
                            </div>
                        </div>
                    </div>
                    <p class="invalid-feedback font-14" id="edit-error"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div><!-- end modal add -->

<!-- Modal delete -->
<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Delete Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h5>Are you sure to delete this product ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-warning">Continue</button>
            </div>
        </div>
    </div>
</div><!-- end modal delete -->

<%- contentFor('js') %>
<script src="/public/assets/js/custom.js"></script>
<script>
(function () {
    let page = 1, pageSize = 10, search = "", category = "", target;     // Params for url query

    $(document).ready(function (e) {
        // Get filter values
        const urlQuery = window.location.search.replace("?", "");
        const queryParams = urlQuery.split("&");

        queryParams.forEach(param => {
            // example param: page=1 || pageSize=4
            const ele = param.split("=");
            if (ele[0] == "page") page = +ele[1];
            if (ele[0] == "category") category = ele[1];
            if (ele[0] == "search") search = ele[1];
        })

        // Get data & render items
        $.ajax({
            url: "/api/product/pagination" + buildQueryUrl(page, pageSize, search, category),
            method: "get",
            success: function (response) {
                if (!response.status || response.data[0].pagination.length == 0) return;

                // Handle data into html.
                const items = response.data[0].data;
                const totalRow = response.data[0].pagination[0].totalRow;   // Total row of this filter (price + category + search)
                if (items.length > 0) {
                    let itemsHtml = ``;
                    items.forEach(item => {
                        let name = item.name;
                        if (name.length > 20) name = name.split("").slice(0, 20).join("") + "...";
                        const date = new Date(item.createdAt);
                        const dateFormatted = `${date.toLocaleString("default", {month: "short"})} ${date.getDate()}, ${date.getFullYear()}`;

                        itemsHtml += `
                        <tr id="${item._id}">
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                </div>
                            </td>
                            <td class="sorting_1">
                                <img src="/public/resources/images/${item.image}" alt="contact-img" title="contact-img" class="rounded mr-3" height="48">
                                <p class="m-0 d-inline-block align-middle font-16">
                                    <a href="/products/${item._id}" class="text-body" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="${item.name}">${name}</a>
                                </p>
                            </td>
                            <td>
                                ${item.category.map(subItem => {
                                    return `<span class="badge bg-info-lighten">${subItem.name}</span>`
                                }).join("<br>")}
                            </td>
                            <td>
                                ${item.amount.toLocaleString()}
                            </td>
                            <td>
                                ${item.price.toLocaleString()} đ
                            </td>
                            <td>
                                ${dateFormatted}
                            </td>

                            <td class="table-action">
                                <a href="javascript:void(0);" class="action-icon btn-view"> <i
                                        class="mdi mdi-eye"></i></a>
                                <a href="javascript:void(0);" class="action-icon btn-edit"> <i
                                        class="mdi mdi-square-edit-outline"></i></a>
                                <a href="javascript:void(0);" class="action-icon btn-delete"> <i
                                        class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>`;
                    })

                    $("#items-show").html(itemsHtml);
                    $('[data-toggle="tooltip"]').tooltip();
                    renderPagination("#pagination", totalRow / pageSize, page, buildQueryUrl(page, pageSize, search, category));
                }
            },
            error: function (err) {

            }
        })
    })

    // Action: click filter category
    $("#filter-category").change(function (e) {
        const category = $(e.target).val();

        window.location = buildQueryUrl(1, pageSize, search, category);
    })

    // Action: search
    $("#search").keypress(function (e) {
        if (e.which == 13) {
            e.preventDefault();
            window.location = buildQueryUrl(1, pageSize, $(this).val(), category)
        }
    })

    // Action: create
    $("#btn-add").click(function (e) {
        $("#modal-add").modal("show");
    })

    $("#modal-add button[type='submit']").click(function (e) {
        const name = $("#add-name").val();
        const category = $("#add-category").val();
        const author = $("#add-author").val();
        const publisher = $("#add-publisher").val();
        const publishedAt = $("#add-publishedat").val();
        const price = $("#add-price").val().replace(" đ", "").replaceAll(".", "");
        const sale = $("#add-sale").val().replace(" đ", "").replaceAll(".", "");
        const image = $("#add-image")[0].files;
        const description = $("#add-description").val();
        const errorFeedback = $("#add-error");

        // Validate inputs
        if (!name) return errorFeedback.text("Name cannot be null!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (category.length === 0) return errorFeedback.text("Please choose at least 1 category!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (author.length === 0) return errorFeedback.text("Please choose at least 1 author!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (publisher.length === 0) return errorFeedback.text("Please choose at least 1 publisher!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (price < 0) return errorFeedback.text("Price cannot lower than 0!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (sale < 0) return errorFeedback.text("Sale cannot lower than 0!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if(image.length < 0) return errorFeedback.text("Image is required!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        let formdata = new FormData();
        formdata.append("name", name);
        category.forEach(item => formdata.append("category", item));
        author.forEach(item => formdata.append("author", item));
        formdata.append("publisher", publisher);
        formdata.append("publishedAt", publishedAt);
        formdata.append("price", price);
        formdata.append("sale", sale);
        formdata.append("image", image[0]);
        formdata.append("description", description);

        // Call api to creat product
        $.ajax({
            url: "/api/product",
            method: "post",
            data: formdata,
            contentType: false,
            processData: false,
            success: (response) => {
                if (response.status) window.location = "";
            },
            error: (err) => {
                return errorFeedback.text(err.responseJSON.msg).addClass("d-block");
            }
        })
    })

    // Action: view
    $(document).on("click", ".btn-view", function (e) {
        target = $(this).parent().parent().attr("id");

        $.ajax({
            url: `/api/product/${target}`,
            method: "get",
            success: (response) => {
                if (response.status) {
                    const data = response.data;
                    const date = new Date(data.publishedAt);
                    const dateFormatted = `${date.toLocaleString("default", {month: "short"})} ${date.getDate()}, ${date.getFullYear()}`;

                    $("#view-name").text(data.name);
                    $("#view-category").empty();
                    data.idCategory.forEach(item => {
                        $("#view-category").append(`<span class="badge badge-info-lighten mr-1 font-13">${item.name}</span>`);
                    })
                    $("#view-author").empty();
                    data.idAuthor.forEach(item => {
                        $("#view-author").append(`<span class="badge badge-primary-lighten mr-1 font-13">${item.name}</span>`);
                    })
                    $("#view-publisher").empty()
                        .append(`<span class="badge badge-secondary-lighten mr-1 font-13">${data.idPublisher.name}</span>`);
                    $("#view-publishedat").text(dateFormatted);
                    $("#view-price").text(data.price.toLocaleString() + " đ");
                    $("#view-sale").text(data.sale.toLocaleString() + " đ");
                    $("#view-amount").text(data.amount.toLocaleString());
                    $("#view-image").html(`
                        <img class="card-img" src="/public/resources/images/${data.image}" alt="product-image" />
                    `);

                    $("#view-description").html(data.description);
                    $("#modal-view").modal("show");
                }
            }
        })
    })

    // Action: edit
    $(document).on("click", ".btn-edit", function (e) {
        target = $(this).parent().parent().attr("id");

        $.ajax({
            url: `/api/product/${target}`,
            method: "get",
            success: (response) => {
                if (response.status) {
                    const data = response.data;
                    $("#edit-name").val(data.name);
                    // Set value for category multiple select
                    $(`#edit-category option`).prop("selected", false);
                    data.idCategory.forEach(item => {
                        $(`#edit-category option[value='${item._id}']`).prop("selected", "selected");
                    })
                    $(`#edit-category`).trigger("change");
                    // Set value for author multiple select
                    $(`#edit-author option`).prop("selected", false);
                    data.idAuthor.forEach(item => {
                        $(`#edit-author option[value='${item._id}']`).prop("selected", "selected");
                    })
                    $(`#edit-author`).trigger("change");
                    // Set value for publisher multiple select
                    $(`#edit-publisher option[value='${data.idPublisher._id}']`).prop("selected", "selected");
                    $(`#edit-publisher`).trigger("change");

                    $("#edit-price").val(data.price);
                    $("#edit-price").trigger("input");
                    $("#edit-sale").val(data.sale);
                    $("#edit-sale").trigger("input");

                    const date = new Date(data.publishedAt);
                    const dateFormatted = `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}`;
                    $("#edit-publishedat").val(dateFormatted);
                    $("#edit-description").val(data.description);
                    $("#modal-edit").modal("show");
                }
            }
        })
    })

    $("#modal-edit button[type='submit']").click(function (e) {
        const name = $("#edit-name").val();
        const category = $("#edit-category").val();
        const author = $("#edit-author").val();
        const publisher = $("#edit-publisher").val();
        const publishedAt = $("#edit-publishedat").val();
        const price = $("#edit-price").val().replace(" đ", "").replaceAll(".", "");
        const sale = $("#edit-sale").val().replace(" đ", "").replaceAll(".", "");
        const image = $("#edit-image")[0].files;
        const description = $("#edit-description").val();
        const errorFeedback = $("#edit-error");

        // Validate inputs
        if (!name) return errorFeedback.text("Name cannot be null!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (category.length === 0) return errorFeedback.text("Please choose at least 1 category!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (author.length === 0) return errorFeedback.text("Please choose at least 1 author!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (publisher.length === 0) return errorFeedback.text("Please choose at least 1 publisher!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (price < 0) return errorFeedback.text("Price cannot lower than 0!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        if (sale < 0) return errorFeedback.text("Sale cannot lower than 0!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        let formdata = new FormData();
        formdata.append("name", name);
        category.forEach(item => formdata.append("category", item));
        author.forEach(item => formdata.append("author", item));
        formdata.append("publisher", publisher);
        formdata.append("publishedAt", publishedAt);
        formdata.append("price", price);
        formdata.append("sale", sale);
        if (image.length > 0) formdata.append("image", image[0]);
        formdata.append("description", description);

        $.ajax({
            url: `/api/product/${target}`,
            method: "put",
            data: formdata,
            contentType: false,
            processData: false,
            success: (response) => {
                if (response.status) window.location = "";
            },
            error: (err) => {
                return errorFeedback.text(err.responseJSON.msg).addClass("d-block");
            }
        })
    })

    // Action: delete
    $(document).on("click", ".btn-delete", function (e) {
        target = $(this).parent().parent().attr("id");
        $("#modal-delete").modal("show");
    })

    $("#modal-delete button[type='submit']").click(function (e) {
        $.ajax({
            url: `/api/product/${target}`,
            method: "delete",
            success: (response) => {
                if (response.status) window.location = "";
            },
            error: (err) => {
                return $.NotificationApp.send("Error", `${err.responseJSON.msg}`, "top-right", "rgba(0,0,0,0.2)", "error");
            }
        })
    })

    // Action: export
    $("#btn-export").click(function (e) {

    })

    // Build query url
    function buildQueryUrl(page, pageSize, search = "", category = []) {
        return `?page=${page}&pageSize=${pageSize}${search ? `&search=${search}` : ""}${category ? `&category=${category}` : ""}`;
    }
})()
</script>