<!-- Start Content-->
<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu left-side-menu-detached">

            <div class="leftbar-user">
                <a href="javascript: void(0);"></a>
            </div>

            <!--- Sidemenu -->
            <ul class="metismenu side-nav">

                <li class="side-nav-title side-nav-item">
                    <div class="side-nav">
                        <span>Price</span>
                    </div>
                </li>
                <li class="side-nav-item" id="filter-price">
                    <div>
                        <div class="custom-control custom-checkbox mx-3 my-3" hidden>
                            <input type="radio" class="custom-control-input" id="price0" value="" name="price" checked>
                        </div>
                        <div class="custom-control custom-checkbox mx-3 my-3">
                            <input type="radio" class="custom-control-input" id="price1" value="0-200" name="price"
                                    <%= data.pagination.filterPrice == "0-200" ? "checked" : "" %> >
                            <label class="custom-control-label" for="price1">0 - 200.000 đ</label>
                        </div>
                        <div class="custom-control custom-checkbox mx-3 my-3">
                            <input type="radio" class="custom-control-input" id="price2" value="200-400" name="price"
                                    <%= data.pagination.filterPrice == "200-400" ? "checked" : "" %> >
                            <label class="custom-control-label" for="price2">200.000 - 400.000 đ</label>
                        </div>
                        <div class="custom-control custom-checkbox mx-3 my-3">
                            <input type="radio" class="custom-control-input" id="price3" value="400-600" name="price"
                                    <%= data.pagination.filterPrice == "400-600" ? "checked" : "" %> >
                            <label class="custom-control-label" for="price3">400.000 - 600.000 đ</label>
                        </div>
                        <div class="custom-control custom-checkbox mx-3 my-3">
                            <input type="radio" class="custom-control-input" id="price4" value="600-1000" name="price"
                                    <%= data.pagination.filterPrice == "600-1000" ? "checked" : "" %> >
                            <label class="custom-control-label" for="price4">600.000 - 1.000.000 đ</label>
                        </div>
                        <div class="custom-control custom-checkbox mx-3 my-3">
                            <input type="radio" class="custom-control-input" id="price5" value="1000-max" name="price"
                                    <%= data.pagination.filterPrice == "1000-max" ? "checked" : "" %> >
                            <label class="custom-control-label" for="price5">More than 1.000.000 đ</label>
                        </div>
                    </div>
                </li>

                <li class="side-nav-title side-nav-item">
                    <div class="side-nav">
                        <span>Category</span>
                    </div>
                </li>
                <li class="side-nav-item" id="filter-category">
                    <form action="/products" method="get">
                        <div>
                            <% data.category.forEach(ele => { %>
                                <div class="custom-control custom-checkbox mx-3 my-3">
                                    <input type="checkbox" class="custom-control-input" id="<%= ele._id %>" name="category" value="<%= ele._id %>"
                                        <% if (data.pagination.filterCategory.includes("" + ele._id)) { %> <%= "checked" %> <% } %>
                                    >
                                    <label class="custom-control-label" for="<%= ele._id %>"><%= ele.name %></label>
                                </div>
                            <% }) %>
                        </div>
                    </form>
                </li>
                <li class="side-nav-item">
                    <hr>
                    <a href="/products" class="side-nav-link">
                        <i class="uil uil-sync"></i>
                        <span> Reset filter </span>
                    </a>
                </li>
            </ul>
            <!-- End Sidebar -->

            <div class="clearfix"></div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

                <div class="row mb-2 mt-4">
                    <div class="col-sm-12">
                        <div class="text-sm-right">
                            <div class="btn-group mb-3">
                                <button type="button" class="btn btn-primary">All</button>
                            </div>
                            <div class="btn-group mb-3 ml-1">
                                <button type="button" class="btn btn-light">New</button>
                                <button type="button" class="btn btn-light">Hot</button>
                            </div>
                        </div>
                    </div><!-- end col-->
                </div>
                <!-- end row-->

                <!-- Products -->
                <div id="items-show">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-warning" role="alert">
                                <i class="mdi mdi-spin mdi-loading mx-1"></i> <strong>Products is being loaded, please wait!</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Products -->

                <!-- Pagination -->
                <div class="row mb-5">
                    <div class="col-sm-12" id="pagination"></div>
                </div>
                <!-- End Pagination -->

            </div> <!-- End Content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2018 - 2020 © Hyper - Coderthemes.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div> <!-- content-page -->

    </div> <!-- end wrapper-->
</div>
<!-- END Container -->

<%- contentFor('js') %>
<script src="/public/assets/js/custom.js"></script>
<script>
    let page = 1, pageSize = 4, categoryValues = [], price = "", search = "";     // Params for url query

    $(document).ready(function (e) {
        // Get filter values
        const urlQuery = window.location.search.replace("?", "");
        const queryParams = urlQuery.split("&");

        queryParams.forEach(param => {
            // example param: page=1 || pageSize=4
            const ele = param.split("=");
            if (ele[0] == "page") page = +ele[1];
            if (ele[0] == "category") categoryValues.push(ele[1]);
            if (ele[0] == "price") price = ele[1];
            if (ele[0] == "search") search = ele[1];
        })

        // Get data & render items
        $.ajax({
            url: "/api/product/pagination" + buildQueryUrl(page, pageSize, categoryValues, price, search),
            method: "get",
            success: function (response) {
                if (!response.status || response.data[0].pagination.length == 0) {
                    notFoundAlert();
                    return;
                }

                // Handle data into html.
                const items = response.data[0].data;
                const totalRow = response.data[0].pagination[0].totalRow;   // Total row of this filter (price + category + search)
                if (items.length > 0) {
                    let itemsHtml = ``, count = 0;
                    items.forEach(item => {
                        let name = item.name.split(" ");
                        if (name.length > 7) name = name.slice(0, 7).join(" ") + "...";
                        else name = name.join(" ");
                        const date = new Date(item.publishedAt);
                        const dateFormatted = `${date.toLocaleString("default", {month: "short"})} ${date.getDate()}, ${date.getFullYear()}`;
                        itemsHtml += `
                    ${count == 0 ? '<div class="row">' : ''}
                        <div class="col-md-6 col-xl-3">
                            <div class="card d-block ribbon-box">
                                <div class="ribbon-two ribbon-two-success"><span>In stock</span></div>

                            <img class="card-img-top" src="/public/resources/images/${item.image}"
                                                                    alt="project image cap">
                            <div class="card-body position-relative">
                                <h4 class="mt-0">
                                    <a href="/product/${item._id}" class="text-title" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="${item.name}">${name}</a>
                                </h4>

                                <p class="mb-2">
                                    <span class="pr-2 text-nowrap">
                                    ${item.price.toLocaleString()} đ
                                    </span>
                                </p>
                                <div class="mb-2">`;
                        item.category.forEach(subItem => {
                            itemsHtml += `<div class="badge badge-info mr-1 p-1">${subItem.name}</div>`
                        });
                        itemsHtml += `</div>
                                <div class="mb-3">
                                    <span class="pr-1">by</span>`
                        item.author.forEach(subItem => {
                            itemsHtml += `
                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="${subItem.name}" class="d-inline-block">
                                            <img src="/public/assets/images/users/avatar-4.jpg" class="rounded-circle avatar-xs"
                                            alt="friend">
                                        </a>`;
                        });
                        itemsHtml += `  <span class="pl-1 text-nowrap">
                                        | in ${dateFormatted}
                                    </span>
                                </div>
                            </div>
                            </div>
                        </div>
                    ${count == 3 ? '</div>' : ''} `;
                        count ++;
                        if (count == 4) count = 0;
                    });
                    $("#items-show").html(itemsHtml);
                    renderPagination("#pagination", totalRow / pageSize, page, buildQueryUrl(page, pageSize, categoryValues, price, search));
                    $('[data-toggle="tooltip"]').tooltip();
                } else if (items.length <= 0) notFoundAlert();
            },
            error: function (err) {
                notFoundAlert();
            }
        })
    })

    // Action: Click filter price
    $("#filter-price input").click(function (e) {
        price = $(e.target).val();

        window.location = buildQueryUrl(1, pageSize, categoryValues, price, search);
    })

    // Action: Click filter category
    $("#filter-category input").click(function (e) {
        const category = $(e.target).val();
        if (!categoryValues.includes(category)) categoryValues.push(category);
        else if (categoryValues.includes(category)) categoryValues.splice(categoryValues.indexOf(category), 1);

        window.location.href = buildQueryUrl(1, pageSize, categoryValues, price, search);
    })

    // Build query url
    function buildQueryUrl(page, pageSize, category = [], price = "", search = "") {
        return `?page=${page}&pageSize=${pageSize}&search=${search}` + category.reduce((res, ele) => res += `&category=${ele}`, "")
            + `${ price ? "&price=" + price : "" }`;
    }

    // Print alert no products were found
    function notFoundAlert() {
        $("#items-show").html(`
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-dark text-center" role="alert">
                            <strong>No products were found matching your selection.</strong>
                        </div>
                    </div>
                </div>`);
    }
</script>