<!-- Start Content-->
<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <div class="content-page">
            <div class="content">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">K-zilla</a></li>
                                    <li class="breadcrumb-item"><a href="/products">Product</a></li>
                                    <li class="breadcrumb-item active"><%= data.product.name %></li>
                                </ol>
                            </div>
                            <!--                                    <h4 class="page-title">Product Details</h4>-->
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <!-- Product image -->
                                        <a href="javascript: void(0);" class="text-center d-block mb-4">
                                            <img src="<%= data.product.image %>" class="img-fluid"
                                                 style="max-width: 280px;" alt="Product-img"/>
                                        </a>
                                    </div> <!-- end col -->
                                    <div class="col-lg-7">
                                        <form class="pl-lg-4">
                                            <!-- Product title -->
                                            <h3 class="mt-0"><%= data.product.name %>
                                                <a href="javascript: void(0);" class="text-danger btn-wishlist" data-toggle="tooltip"
                                                   data-placement="top" title="" data-original-title="Add to my wishlist"><i
                                                    class=" mdi mdi-tag-text mdi-rotate-90 ml-2"></i></a></h3>
                                            <p class="mb-1">by
                                                <% data.product.idAuthor.forEach((ele, i) => { %>
                                                    <%= i == 0 ? "" : " and" %><a href=""> <%= ele.name %></a>
                                                <%  }) %>
                                            </p>

                                            <div class="mt-1">
                                                <% data.product.idCategory.forEach(ele => { %>
                                                <h5 class="d-inline-block"><span class="badge badge-info"><%= ele.name %></span></h5>
                                                <% }) %>
                                            </div>

                                            <p class="font-16">
                                                <span><%= data.amountSold.toLocaleString() %> sold - <a href="#comments"><%= data.amountComment.toLocaleString() %> comment</a></span>
                                            </p>

                                            <!-- Product stock -->
                                            <div class="mt-2">
                                                <% if (data.product.amount > 0) { %>
                                                <h4><span class="badge badge-success-lighten"><%= data.product.amount + `${data.product.amount>1 ? " products" : " product"}` %> in stock</span></h4>
                                                <% } else { %>
                                                <h4><span class="badge badge-secondary">Out of stock</span></h4>
                                                <% } %>
                                            </div>

                                            <!-- Product description -->
                                            <div class="mt-3">
                                                <h6 class="font-14">Price:</h6>
                                                <% if (data.product.sale > 0) { %>
                                                <h3><del> <%= data.product.price.toLocaleString() %> đ</del>
                                                    <font class="text-danger"><%= (data.product.price - data.product.sale).toLocaleString() %> đ</font></h3>
                                                <% } else { %>
                                                <h3> <%= data.product.price.toLocaleString() %> đ</h3>
                                                <% } %>
                                            </div>

                                            <!-- Quantity -->
                                            <div class="mt-4">
                                                <h6 class="font-14">Quantity</h6>
                                                <div class="d-flex">
                                                    <input type="number" min="1" value="1" class="form-control" id="input-amount"
                                                           placeholder="Qty" style="width: 90px;">
                                                    <button type="button" class="btn btn-danger ml-2" id="btn-addToCart"><i
                                                            class="mdi mdi-cart mr-1"></i> Add to cart
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="mt-4">
                                                <h6 class="font-14">Returns: </h6>
                                                <p class="text-primary">Eligible for Return, Refund or Replacement within 30 days of receipt</p>
                                            </div>
                                        </form>
                                    </div> <!-- end col -->
                                </div> <!-- end row-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Product description -->
                                <h4 class="text-dark">Product details</h4>
                                <div>
                                    <h6 class="font-14 d-inline-block">Author: </h6>
                                    <% data.product.idAuthor.forEach((ele, i) => { %>
                                        <%= i == 0 ? "" : " and" %><a href=""> <%= ele.name %></a>
                                    <%  }) %>
                                </div>
                                <div>
                                    <h6 class="font-14 d-inline-block">Publisher: </h6> <span><%= data.product.idPublisher.name %></span>
                                </div>
                                <div>
                                    <h6 class="font-14 d-inline-block">Publication date: </h6>
                                    <span>
                                        <% const date = new Date(data.product.publishedAt) %>
                                        <%= `${date.toLocaleString("default", {month: "short"})} ${date.getDate()}, ${date.getFullYear()}` %>
                                    </span>
                                </div>
                                <div>
                                    <hr>
                                    <p><%- data.product.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Product description -->
                                <h4 class="text-dark mb-3">Products in same category</h4>
                                <div class="row" id="productSameCate"> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="comments">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Feedback -->
                                <h6 class="font-14">Feedback:</h6>

                                <div id="comment-show"> </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- End Content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            © krulzilla
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div> <!-- content-page -->

    </div> <!-- end wrapper-->
</div>
<!-- END Container -->

<%- contentFor('js') %>
<script>
(function () {
    const categoryValues = [<% data.product.idCategory.forEach((category, index) => { %> <%= index > 0 ? "," : ""%> "<%= category._id %>" <% }) %>];
    const size = 4;
    let commentLoadCount = 1;

    const idProduct = "<%= data.product._id %>";
    const idUser = "<%= data.user ? data.user._id : "" %>";

    $(document).ready(function () {
        $.ajax({
            url: `/api/product/random?size=${size}${categoryValues.reduce((res, ele) => res += `&category=${ele}`, "")}`,
            method: "get",
            success: function (response) {
                if (response.status) {
                    let render = ``;
                    response.data.forEach(item => {
                        render += `
                        <div class="col-md-6 col-xl-3">
                            <div class="card d-block">
                                <div class="text-center">
                                    <img class="card-img-top" src="${item.image}" alt="Image of ${item._id}"
                                         style="max-width: 200px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="${item._id}">${item.name}</a></h5>`;
                        if (item.sale > 0) {
                            render += `<p class="card-text"><del>${item.price.toLocaleString()} đ</del>
                                       <font class="text-danger">${(item.price - item.sale).toLocaleString()} đ</font></p>`;
                        } else render += `<p class="card-text">${item.price.toLocaleString()} đ</p>`;
                        render += `</div>
                            </div>
                        </div>`;
                    })
                    $("#productSameCate").html(render);
                }
            },
            error: function (err) {
                // Do nothing ~.~
            }
        })

        loadComment();
    })

    // Action: Click add-wishlist
    $(".btn-wishlist").click(function (e) {
        $.ajax({
            url: "/api/wishlist",
            method: "post",
            data: {
                idProduct
            },
            success: (response) => {
                if (response.status) return $.NotificationApp.send("Success", response.msg, "top-right", "rgba(0,0,0,0.2)", "success");
                else if (!response.status) return $.NotificationApp.send("Warning", response.msg, "top-right", "rgba(0,0,0,0.2)", "warning");
            },
            error: (err) => {
                return $.NotificationApp.send("Error", err.responseJSON.msg, "top-right", "rgba(0,0,0,0.2)", "error");
            }
        })
    })


    // Action: Click add-to-cart
    $("#btn-addToCart").click(function (e) {
        if (!idUser) return $.NotificationApp.send("Forget login ?", "You need login before do this action! <a href='/logn'>Login now</a>", "top-right", "rgba(0,0,0,0.2)", "warning");
        const amount = $("#input-amount").val();

        $.ajax({
            url: "/api/cart",
            method: "post",
            data: {
                idUser,
                idProduct,
                amount
            },
            success: (response) => {
                if (response.status) {
                    return $.NotificationApp.send("Success", response.msg, "top-right", "rgba(0,0,0,0.2)", "success");
                } else {
                    return $.NotificationApp.send("Warning", response.msg, "top-right", "rgba(0,0,0,0.2)", "warning");
                }
            },
            error: (err) => {
                return $.NotificationApp.send("Error", err.responseJSON.msg, "top-right", "rgba(0,0,0,0.2)", "error");
            }
        })
    })

    // Action: Click load more comments
    $(document).on("click", ".btn-load", function (e) {
        commentLoadCount += 1;
        $(".btn-load").remove();
        loadComment();
    })

    function loadComment() {
        $.ajax({
            url: `/api/feedback/pagination/${idProduct}?page=${commentLoadCount}&pageSize=${10}`,
            method: "get",
            success: (response) => {
                const data = response.data[0].data;
                const totalRow = response.data[0].pagination[0].totalRow;
                let renderHtml = "";

                data.forEach(comment => {
                    // Get the current time
                    const now = new Date();
                    const createdAt = new Date(comment.createdAt)
                    const timeDifference = now - createdAt;
                    let textTime = Math.floor(timeDifference / (1000 * 60));
                    if (textTime <= 1) textTime = "Just now"
                    else if (textTime > 59) textTime = Math.floor(timeDifference / (1000 * 60 * 60)) + " hours ago";
                    else if (textTime > 23) textTime = Math.floor(timeDifference / (1000 * 60 * 60 * 24)) + " days ago";
                    else textTime += " minutes ago";
                    renderHtml += `
                    <div class="row mt-2">
                        <div class="col-lg-10 m-lg-auto">
                            <div class="media">
                                <img class="mr-2 rounded" src="/public/assets/images/users/avatar-5.jpg"
                                     alt="Generic placeholder image" height="32">
                                <div class="media-body">
                                    <h5 class="m-0">${comment.user.fullname}</h5>
                                    <p class="text-muted"><small>${textTime}</small></p>
                                </div> <!-- end media body-->
                            </div> <!-- end media -->

                            <div class="my-1">
                                <p>"${comment.comment}"</p>
                            </div>
                            <hr class="m-0"/>

                        </div> <!-- end card-body -->
                    </div>
                    `;
                })

                if (commentLoadCount * 10 < totalRow) {
                    renderHtml += `
                        <div class="text-center my-2">
                            <a href="javascript:void(0);" class="text-danger btn-load">Load more </a>
                        </div>`;
                }
                $("#comment-show").append(renderHtml);
            }
        })
    }
})()
</script>