<!-- Start Content-->
<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu left-side-menu-detached">

            <div class="leftbar-user">
                <a href="javascript: void(0);"></a>
            </div>

            <!--- Sidemenu -->
            <ul class="metismenu side-nav">

                <li class="side-nav-title side-nav-item">
                    <div class="side-nav">
                        <span>Price</span>
                    </div>
                </li>
                <li class="side-nav-item">
                    <div>
                        <div class="custom-control custom-checkbox mx-3 my-3">
                            <input type="checkbox" class="custom-control-input" id="1">
                            <label class="custom-control-label" for="">100.000 d</label>
                        </div>
                    </div>
                </li>

                <li class="side-nav-title side-nav-item">
                    <div class="side-nav">
                        <span>Category</span>
                    </div>
                </li>
                <li class="side-nav-item" id="filter-category">
                    <form action="/products" method="get">
                        <div>
                            <% data.category.forEach(ele => { %>
                                <div class="custom-control custom-checkbox mx-3 my-3">
                                    <input type="checkbox" class="custom-control-input" id="<%= ele._id %>" name="category" value="<%= ele._id %>"
                                        <% if ("" == ele._id) { %> <%= "checked" %> <% } %>
                                    >
                                    <label class="custom-control-label" for="<%= ele._id %>"><%= ele.name %></label>
                                </div>
                            <% }) %>
                        </div>
                    </form>
                </li>
                <li class="side-nav-item">
                    <hr>
                    <a href="/products" class="side-nav-link">
                        <i class="uil uil-sync"></i>
                        <span> Reset filter </span>
                    </a>
                </li>
            </ul>
            <!-- End Sidebar -->

            <div class="clearfix"></div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

                <div class="row mb-2 mt-4">
                    <div class="col-sm-12">
                        <div class="text-sm-right">
                            <div class="btn-group mb-3">
                                <button type="button" class="btn btn-primary">All</button>
                            </div>
                            <div class="btn-group mb-3 ml-1">
                                <button type="button" class="btn btn-light">New</button>
                                <button type="button" class="btn btn-light">Hot</button>
                            </div>
                        </div>
                    </div><!-- end col-->
                </div>
                <!-- end row-->

                <%
                let count = 0;
                data.products.forEach(ele => {
                    let name = ele.name.split(" ");
                    if (name.length > 7) name = name.slice(0, 7).join(" ") + "...";
                    else name = name.join(" ");
                    const date = new Date(ele.publishedAt);
                    const dateFormatted = `${date.toLocaleString("default", {month: "short"})} ${date.getDate()}, ${date.getFullYear()}`;
                    if (count++ == 0) {
                %>
                    <div class="row">
                <% } %>
                        <div class="col-md-6 col-xl-3">
                            <!-- project card -->
                            <div class="card d-block ribbon-box">
                                <div class="ribbon-two ribbon-two-success"><span>In stock</span></div>

                                <!-- project-thumbnail -->
                                <img class="card-img-top" src="/public/resources/images/<%= ele.image %>"
                                     alt="project image cap">

                                <div class="card-body position-relative">
                                    <!-- project title-->
                                    <h4 class="mt-0">
                                        <a href="apps-projects-details.html" class="text-title" data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="<%= ele.name %>"><%= name %></a>
                                    </h4>

                                    <!-- project detail-->
                                    <p class="mb-2">
                                    <span class="pr-2 text-nowrap">
                                        <%= ele.price.toLocaleString() %> đ
                                    </span>
                                    </p>
                                    <div class="mb-2">
                                        <% ele.category.forEach(subEle => { %>
                                        <div class="badge badge-info p-1"><%= subEle.name %></div>
                                        <% }) %>
                                    </div>
                                    <div class="mb-3">
                                        <span class="pr-1">by</span>
                                        <% ele.author.forEach(subEle => { %>
                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                               data-original-title="<%= subEle.name %>" class="d-inline-block">
                                                <img src="/public/assets/images/users/avatar-4.jpg" class="rounded-circle avatar-xs"
                                                     alt="friend">
                                            </a>
                                        <% }) %>
                                        <span class="pl-1 text-nowrap">
                                        | in <%= dateFormatted %>
                                    </span>
                                    </div>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                <% if (count == 4) { count = 0; %>
                    </div>
                <% } %>
                <% }) %>
                <!-- end row-->

                <div class="row">
                    <div class="col-md-12">
                        <nav class=" text-right">
                            <ul class="pagination pagination-rounded mb-0 justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="row" id="demo">

                </div>

            </div> <!-- End Content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2018 - 2020 © Hyper - Coderthemes.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div> <!-- content-page -->

    </div> <!-- end wrapper-->
</div>
<!-- END Container -->

<%- contentFor('js') %>
<script src="/public/assets/js/pagination.js"></script>
<script>
    $('#demo').pagination({
        dataSource: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        pageSize: 5,
        className: "custom-pagination",
        ulClassName: "pagination pagination-rounded mb-0 justify-content-end",
        classPrefix: "page-item ",
        callback: function(data, pagination) {

        }
    })

    $("#filter-category input").click(function (e) {
        // console.log($(this).attr('id'))
        $(this).closest('form').submit();
    })
</script>