<!-- Start Content-->
<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <div class="content-page">
            <div class="content">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                    <li class="breadcrumb-item active">Checkout</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Checkout</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <!-- Checkout Steps -->
                                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                    <li class="nav-item">
                                        <a href="#shipping-information" data-toggle="tab" aria-expanded="true"
                                           class="nav-link rounded-0 active" id="btn-shipping">
                                            <i class="mdi mdi-truck-fast font-18"></i>
                                            <span class="d-none d-lg-block">Shipping Info</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#payment-information" data-toggle="tab" aria-expanded="false"
                                           class="nav-link rounded-0" id="btn-payment">
                                            <i class="mdi mdi-cash-multiple font-18"></i>
                                            <span class="d-none d-lg-block">Payment Info</span>
                                        </a>
                                    </li>
                                </ul>

                                <!-- Steps Information -->
                                <div class="tab-content">

                                    <!-- Shipping Content-->
                                    <div class="tab-pane show active" id="shipping-information">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4>Shipping info</h4>

                                                <p class="text-muted mb-4">Please check or fill out necessary information
                                                        before proceeding to the next step.</p>

                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="input-fullname">Full name <span
                                                                            class="text-danger">*</span></label>
                                                                <input class="form-control" type="text"
                                                                       placeholder="Enter your name" value="<%= data.userInfo.fullname %>"
                                                                       id="input-fullname" required/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="input-phone">Phone <span
                                                                            class="text-danger">*</span></label>
                                                                <input class="form-control" type="text"
                                                                       placeholder="(xx) xxx xxxx xxx" value="<%= data.userInfo.phone %>"
                                                                       id="input-phone" required/>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="input-address">Address <span
                                                                            class="text-danger">*</span></label>
                                                                <input class="form-control" type="text"
                                                                       placeholder="Enter full address" value="<%= data.userInfo.address %>"
                                                                       id="input-address" required>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group text-right">
                                                                <button class="btn btn-primary" id="btn-saveChange"  data-toggle="modal" data-target="#update-modal">
                                                                    <i class="mdi mdi-account-edit-outline"></i> Save changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h4 class="mt-4">Shipping Method</h4>

                                                    <p class="text-muted">Fill the form below in order to
                                                        send you the order's invoice.</p>

                                                    <div id="shipping-method-show">
                                                    <% let checkCloseDiv = 0; data.typeTransports.forEach((ele, i) => { checkCloseDiv = i; %>

                                                        <% if (i % 2 === 0) { %> <div class="row mt-3"> <% } %>
                                                            <div class="col-md-6">
                                                                <div class="border p-3 rounded mb-3 mb-md-0">
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" id="<%= ele._id %>"
                                                                               name="shippingOptions" data="<%= ele.price %>"
                                                                               class="custom-control-input" <%= i === 0 ? "checked" : "" %>>
                                                                        <label class="custom-control-label font-16 font-weight-bold"
                                                                               for="<%= ele._id %>"><%= ele.name %> -
                                                                            <%= ele.price.toLocaleString() %> đ</label>
                                                                    </div>
                                                                    <p class="mb-0 pl-3 pt-1"><%= ele.description %></p>
                                                                </div>
                                                            </div>
                                                            <% if (i % 2 !== 0) { %> </div> <% } %>
                                                    <% }) %>
                                                    <% if (checkCloseDiv % 2 === 0) { %> </div> <% } %>
                                                    </div>
                                                    <!-- end row-->

                                                    <div class="row mt-4">
                                                        <div class="col-sm-6">
                                                            <a href="/cart"
                                                               class="btn text-muted d-none d-sm-inline-block btn-link font-weight-semibold">
                                                                <i class="mdi mdi-arrow-left"></i> Back to Shopping Cart
                                                            </a>
                                                        </div> <!-- end col -->
                                                        <div class="col-sm-6">
                                                            <div class="text-sm-right">
                                                                <a href="#payment-information" data-toggle="tab" aria-expanded="false"
                                                                   class="btn btn-danger" id="btn-continue">
                                                                    <i class="mdi mdi-cash-multiple mr-1"></i> Continue
                                                                    to Payment </a>
                                                            </div>
                                                        </div> <!-- end col -->
                                                    </div> <!-- end row -->
                                                </form>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="border p-3 mt-4 mt-lg-0 rounded">
                                                    <h4 class="header-title mb-3">Order Summary</h4>

                                                    <div class="table-responsive">
                                                        <table class="table table-centered mb-0">
                                                            <tbody id="summary-1"> </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- end table-responsive -->
                                                </div> <!-- end .border-->

                                            </div> <!-- end col -->
                                        </div> <!-- end row-->
                                    </div>
                                    <!-- End Shipping Information Content-->

                                    <!-- Payment Content-->
                                    <div class="tab-pane" id="payment-information">
                                        <div class="row">

                                            <div class="col-lg-8">
                                                <h4 class="mt-2">Payment Selection</h4>

                                                <p class="text-muted mb-4">Fill the form below in order to
                                                    send you the order's invoice.</p>

                                                <!-- Render payment methods -->
                                                <% data.typePayments.forEach(type => { %>

                                                    <div class="border p-3 mb-3 rounded">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" id="<%= type._id %>"
                                                                           name="billingOptions"
                                                                           class="custom-control-input" checked>
                                                                    <label class="custom-control-label font-16 font-weight-bold"
                                                                           for="<%= type._id %>"><%= type.name %></label>
                                                                </div>
                                                                <p class="mb-0 pl-3 pt-1"><%= type.description %></p>
                                                            </div>
                                                            <div class="col-sm-4 text-sm-right mt-3 mt-sm-0">
                                                                <img src="/public/assets/images/payments/<%= type.image %>" height="25"
                                                                     alt="<%= type.name %>-img">
                                                            </div>
                                                        </div>
                                                    </div>

                                                <% }) %>

                                                <div class="row mt-4">
                                                    <div class="col-sm-6">
                                                        <a href="#shipping-information" data-toggle="tab" aria-expanded="false"
                                                           class="btn text-muted d-none d-sm-inline-block btn-link font-weight-semibold" id="btn-backShipping">
                                                            <i class="mdi mdi-arrow-left"></i> Back to Shopping Info
                                                        </a>
                                                    </div> <!-- end col -->
                                                    <div class="col-sm-6">
                                                        <div class="text-sm-right">
                                                            <a href=""
                                                               class="btn btn-danger" id="btn-complete">
                                                                <i class="mdi mdi-cash-multiple mr-1"></i> Complete Order </a>
                                                        </div>
                                                    </div> <!-- end col -->
                                                </div> <!-- end row-->

                                            </div> <!-- end col -->

                                            <div class="col-lg-4">
                                                <div class="border p-3 mt-4 mt-lg-0 rounded">
                                                    <h4 class="header-title mb-3">Order Summary</h4>

                                                    <div class="table-responsive">
                                                        <table class="table table-centered mb-0">
                                                            <tbody id="summary-2"> </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- end table-responsive -->
                                                </div> <!-- end .border-->

                                            </div> <!-- end col -->
                                        </div> <!-- end row-->
                                    </div>
                                    <!-- End Payment Information Content-->

                                </div> <!-- end tab content-->

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- End Content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2018 - 2020 © Hyper - Coderthemes.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div> <!-- content-page -->

    </div> <!-- end wrapper-->
</div>
<!-- END Container -->

<!-- Modal ask before save changes -->
<div id="update-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="warning-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-warning">
                <h4 class="modal-title" id="warning-header-modalLabel">Save changes?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                Are you sure to update your information ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="btn-save" data-dismiss="modal">Continue</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="paypal-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="warning-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="warning-header-modalLabel">Payment method: Paypal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div id="paypal-button-container"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="btn-save" data-dismiss="modal">Continue</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%- contentFor('js') %>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
<script>
    (function () {
        let data = [];
        $(document).ready(function () {
            btnSwitchTab();
            getOrderSummary();
        })

        $(document).on("click", "#shipping-method-show input", function (e) {
            renderSummary();
        })

        // Action: Save shipping information
        $("#btn-saveChange").click(function (e) {
            e.preventDefault();
        })

        $("#btn-save").click(function (e) {
            const fullname = $("#input-fullname").val();
            const phone = $("#input-phone").val();
            const address = $("#input-address").val();

            if (!fullname || !phone || !address)
                return $.NotificationApp.send("Warning", `Please fill out all fields before save!`, "top-right", "rgba(0,0,0,0.2)", "warning");

            $.ajax({
                url: "/api/user/update-info",
                method: "put",
                data: {
                    fullname,
                    phone,
                    address
                },
                success: (response) => {
                    if (response.status) {
                        return $.NotificationApp.send("Success", `Updated your information!`, "top-right", "rgba(0,0,0,0.2)", "success");
                    }
                },
                error: (err) => {
                    return $.NotificationApp.send("Error", `Error when updating your information!`, "top-right", "rgba(0,0,0,0.2)", "error");
                }
            })
        })

        // Action: Complete order
        $("#btn-complete").click(function (e) {
            e.preventDefault();

            $.post({
                url: "/api/user/check-shipping-info",
                success: async (response) => {
                    $("#paypal-button-container").html("");
                    await paypal
                        .Buttons({
                            // Sets up the transaction when a payment button is clicked
                            createOrder: function () {
                                return fetch("/api/payment/create-paypal-order", {
                                    method: "post",
                                    headers: {
                                        "Content-Type": "application/json",
                                    }
                                })
                                    .then((response) => response.json())
                                    .then((order) => order.id);
                            },
                            // Finalize the transaction after payer approval
                            onApprove: function (data) {
                                alert(data);

                                return fetch("/api/payment/capture-paypal-order", {
                                    method: "post",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify({
                                        orderID: data.orderID,
                                    }),
                                })
                                    .then((response) => response.json())
                                    .then((orderData) => {
                                        // Successful capture! For dev/demo purposes:
                                        console.log(
                                            "Capture result",
                                            orderData,
                                            JSON.stringify(orderData, null, 2)
                                        );
                                        const transaction = orderData.purchase_units[0].payments.captures[0];


                                        // When ready to go live, remove the alert and show a success message within this page. For example:
                                        // var element = document.getElementById('paypal-button-container');
                                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                                        // Or go to another URL:  actions.redirect('thank_you.html');
                                    });
                            },
                        })
                        .render("#paypal-button-container");

                    $("#paypal-modal").modal("show")
                },
                error: (err) => {
                    if (!err.responseJSON.status) {
                        return $.NotificationApp.send("Warning", err.responseJSON.msg, "top-right", "rgba(0,0,0,0.2)", "warning");
                    }
                }
            })
        })

        // Support fnc
        function renderSummary() {
            let render = ``;
            let subTotal = 0;
            let shippingFee = getShippingFee();
            data.forEach(ele => {
                let nameParams = ele.product[0].name.split("");
                let name = ele.product[0].name;
                if (nameParams.length > 20) name = nameParams.slice(0, 20).join("") + " ...";
                let totalPerOne = ele.product[0].price * ele.amount;
                subTotal += totalPerOne;
                render += `
                <tr>
                    <td>
                        <img src="/public/resources/images/${ele.product[0].image}" alt="contact-img" title="contact-img" class="rounded mr-2" height="48">
                        <p class="m-0 d-inline-block align-middle">
                            <a href="/product/${ele.product[0]._id}" class="text-body font-weight-semibold"
                                 data-toggle="tooltip" data-placement="top" data-original-title="${ele.product[0].name}">${name}</a>
                            <br>
                            <small>${ele.amount.toLocaleString()} x ${ele.product[0].price.toLocaleString()} đ</small>
                        </p>
                    </td>
                    <td class="text-right">
                        ${totalPerOne.toLocaleString()} đ
                    </td>
                </tr>`;
            });
            render += `
                        <tr class="text-right">
                            <td>
                                <h6 class="m-0">Sub Total:</h6>
                            </td>
                            <td class="text-right">
                                ${subTotal.toLocaleString()} đ
                            </td>
                        </tr>
                        <tr class="text-right">
                            <td>
                                <h6 class="m-0">Shipping fee:</h6>
                            </td>
                            <td class="text-right">
                                ${shippingFee.toLocaleString()} đ
                            </td>
                        </tr>
                        <tr class="text-right">
                            <td>
                                <h6 class="m-0">Sub Total:</h6>
                            </td>
                            <td class="text-right">
                                ${(subTotal+shippingFee).toLocaleString()} đ
                            </td>
                        </tr>`;
            $("#summary-1").html(render);
            $("#summary-2").html(render);
            $('[data-toggle="tooltip"]').tooltip();
        }

        function getOrderSummary() {
            $.ajax({
                url: "/api/cart/<%= data.user._id %>",
                method: "get",
                success: (response) => {
                    if (response.status) {
                        data = response.data;
                        renderSummary()
                    }
                },
                error: (err) => {

                }
            })
        }

        function getShippingFee() {
            const input = $("#shipping-method-show").find("input:checked");
            return +input.attr("data");
        }

        function btnSwitchTab() {
            const btnShipping = $("#btn-shipping");
            const btnPayment = $("#btn-payment");
            const btnContinue = $("#btn-continue");
            const btnBackShipping = $("#btn-backShipping");

            btnContinue.click(function (e) {
                btnContinue.removeClass("active");
                btnShipping.removeClass("active");
                btnPayment.addClass("active");
            })

            btnBackShipping.click(function (e) {
                btnBackShipping.removeClass("active");
                btnPayment.removeClass("active");
                btnShipping.addClass("active");
            })
        }
    })()
</script>