<!-- Start Content-->
<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <div class="content-page">
            <div class="content">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                    <li class="breadcrumb-item"><a href="/products">Product</a></li>
                                    <li class="breadcrumb-item active">Details</li>
                                </ol>
                            </div>
                            <!--                                    <h4 class="page-title">Product Details</h4>-->
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <!-- Product image -->
                                        <a href="javascript: void(0);" class="text-center d-block mb-4">
                                            <img src="/public/resources/images/<%= data.product.image %>" class="img-fluid"
                                                 style="max-width: 280px;" alt="Product-img"/>
                                        </a>

                                        <div class="d-lg-flex d-none justify-content-center">
                                            <a href="javascript: void(0);">
                                                <img src="/public/assets/images/products/product-1.jpg"
                                                     class="img-fluid img-thumbnail p-2" style="max-width: 75px;"
                                                     alt="Product-img"/>
                                            </a>
                                            <a href="javascript: void(0);" class="ml-2">
                                                <img src="/public/assets/images/products/product-6.jpg"
                                                     class="img-fluid img-thumbnail p-2" style="max-width: 75px;"
                                                     alt="Product-img"/>
                                            </a>
                                            <a href="javascript: void(0);" class="ml-2">
                                                <img src="/public/assets/images/products/product-3.jpg"
                                                     class="img-fluid img-thumbnail p-2" style="max-width: 75px;"
                                                     alt="Product-img"/>
                                            </a>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-lg-7">
                                        <form class="pl-lg-4">
                                            <!-- Product title -->
                                            <h3 class="mt-0"><%= data.product.name %>
                                                <a href="javascript: void(0);" class="text-danger" data-toggle="tooltip"
                                                   data-placement="top" title="" data-original-title="Add to my wishlist"><i
                                                    class=" mdi mdi-tag-text mdi-rotate-90 ml-2"></i></a></h3>
                                            <p class="mb-1">by
                                                <% data.product.idAuthor.forEach((ele, i) => { %>
                                                    <%= i == 0 ? "" : " and" %><a href=""> <%= ele.name %></a>
                                                <%  }) %>
                                            </p>

                                            <div class="mt-1">
                                                <% data.product.idCategory.forEach(ele => { %>
                                                <h5 class="d-inline-block"><span class="badge badge-info"><%= ele.name %></span></h5>
                                                <% }) %>
                                            </div>

                                            <p class="font-16">
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span class="text-warning mdi mdi-star"></span>
                                                <span>( 90 sold )</span>
                                            </p>

                                            <!-- Product stock -->
                                            <div class="mt-2">
                                                <% if (data.product.amount > 0) { %>
                                                <h4><span class="badge badge-success-lighten"><%= data.product.amount + `${data.product.amount>1 ? " products" : " product"}` %> in stock</span></h4>
                                                <% } else { %>
                                                <h4><span class="badge badge-secondary">Out of stock</span></h4>
                                                <% } %>
                                            </div>

                                            <!-- Product description -->
                                            <div class="mt-3">
                                                <h6 class="font-14">Price:</h6>
                                                <h3> <%= data.product.price.toLocaleString() %> đ</h3>
                                            </div>

                                            <!-- Quantity -->
                                            <div class="mt-4">
                                                <h6 class="font-14">Quantity</h6>
                                                <div class="d-flex">
                                                    <input type="number" min="1" value="1" class="form-control"
                                                           placeholder="Qty" style="width: 90px;">
                                                    <button type="button" class="btn btn-danger ml-2" id="btn-addToCart"><i
                                                            class="mdi mdi-cart mr-1"></i> Add to cart
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="mt-4">
                                                <h6 class="font-14">Returns: </h6>
                                                <p class="text-primary">Eligible for Return, Refund or Replacement within 30 days of receipt</p>
                                            </div>
                                        </form>
                                    </div> <!-- end col -->
                                </div> <!-- end row-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Product description -->
                                <h4 class="text-dark">Product details</h4>
                                <div>
                                    <h6 class="font-14 d-inline-block">Author: </h6>
                                    <% data.product.idAuthor.forEach((ele, i) => { %>
                                        <%= i == 0 ? "" : " and" %><a href=""> <%= ele.name %></a>
                                    <%  }) %>
                                </div>
                                <div>
                                    <h6 class="font-14 d-inline-block">Publisher: </h6> <span><%= data.product.idPublisher.name %></span>
                                </div>
                                <div>
                                    <h6 class="font-14 d-inline-block">Publication date: </h6>
                                    <span>
                                        <% const date = new Date(data.product.publishedAt) %>
                                        <%= `${date.toLocaleString("default", {month: "short"})} ${date.getDate()}, ${date.getFullYear()}` %>
                                    </span>
                                </div>
                                <div>
                                    <hr>
                                    <p><%- data.product.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Product description -->
                                <h4 class="text-dark mb-3">Products in same category</h4>
                                <div class="row" id="productSameCate"> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Feedback -->
                                <h6 class="font-14">Feedback:</h6>

                                <div class="row mt-2">
                                    <div class="col-lg-10 m-lg-auto">
                                        <div class="media">
                                            <img class="mr-2 rounded" src="/public/assets/images/users/avatar-5.jpg"
                                                 alt="Generic placeholder image" height="32">
                                            <div class="media-body">
                                                <div class="dropdown float-right text-warning">
                                                    <h5>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star-half"></i>
                                                    </h5>
                                                </div>
                                                <h5 class="m-0">Jon Snow</h5>
                                                <p class="text-muted"><small>20 min ago <span class="mx-1">⚬</span>
                                                    <span>Public</span></small></p>
                                            </div> <!-- end media body-->
                                        </div> <!-- end media -->

                                        <div class="my-1">
                                            <p>"Feeling awesome at the wall!"</p>
                                        </div>
                                        <hr class="m-0"/>

                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                                <div class="row mt-2">
                                    <div class="col-lg-10 m-lg-auto">
                                        <div class="media">
                                            <img class="mr-2 rounded" src="/public/assets/images/users/avatar-5.jpg"
                                                 alt="Generic placeholder image" height="32">
                                            <div class="media-body">
                                                <div class="dropdown float-right text-warning">
                                                    <h5>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star-half"></i>
                                                    </h5>
                                                </div>
                                                <h5 class="m-0">Jon Snow</h5>
                                                <p class="text-muted"><small>20 min ago <span class="mx-1">⚬</span>
                                                    <span>Public</span></small></p>
                                            </div> <!-- end media body-->
                                        </div> <!-- end media -->

                                        <div class="my-1">
                                            <p>"Feeling awesome at the wall!"</p>
                                        </div>
                                        <hr class="m-0"/>

                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                                <div class="text-center my-2">
                                    <a href="javascript:void(0);" class="text-danger">Load more </a>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-10 m-lg-auto">
                                        <textarea class="form-control form-control-light mb-2"
                                                  placeholder="Write message" id="example-textarea" rows="3"></textarea>
                                        <div class="text-right">
                                            <div class="btn-group mb-2 text-warning">
                                                <h5>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star text-muted"></i>
                                                </h5>
                                            </div>
                                            <div class="btn-group mb-2 ml-2">
                                                <button type="button" class="btn btn-primary btn-sm">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- End Content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            © Power by Hyper - Coderthemes.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-md-block">
                                        <span>
                                            <i class="uil-envelope"></i> Email: <a href="#">thanhhoa6621@gmail.com</a>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div> <!-- content-page -->

    </div> <!-- end wrapper-->
</div>
<!-- END Container -->

<%- contentFor('js') %>
<script>
    const categoryValues = [<% data.product.idCategory.forEach((category, index) => { %> <%= index > 0 ? "," : ""%> "<%= category._id %>" <% }) %>];
    const size = 4;

    const idProduct = "<%= data.product._id %>";
    const idUser = "<%= data.user ? data.user._id : "" %>";

    $(document).ready(function () {

        $.ajax({
            url: `/api/product/random?size=${size}${categoryValues.reduce((res, ele) => res += `&category=${ele}`, "")}`,
            method: "get",
            success: function (response) {
                if (response.status) {
                    let render = ``;
                    response.data.forEach(item => {
                        render += `
                        <div class="col-md-6 col-xl-3">
                            <div class="card d-block">
                                <div class="text-center">
                                    <img class="card-img-top" src="/public/resources/images/${item.image}" alt="Image of ${item._id}"
                                         style="max-width: 200px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="${item._id}">${item.name}</a></h5>
                                    <p class="card-text">${item.price.toLocaleString()} đ</p>
                                </div>
                            </div>
                        </div>`;
                    })
                    $("#productSameCate").html(render);
                }
            },
            error: function (err) {
                // Do nothing ~.~
            }
        })
    })

    $("#btn-addToCart").click(function (e) {
        if (!idUser) return $.NotificationApp.send("Forget login ?", "You need login before do this action! <a href='/logn'>Login now</a>", "top-right", "rgba(0,0,0,0.2)", "warning");

        $.ajax({
            url: "/api/cart",
            method: "post",
            data: {
                idUser,
                idProduct
            },
            success: (response) => {
                if (response.status) {
                    return $.NotificationApp.send("Success", response.msg, "top-right", "rgba(0,0,0,0.2)", "success");
                } else {
                    return $.NotificationApp.send("Warning", response.msg, "top-right", "rgba(0,0,0,0.2)", "warning");
                }
            },
            error: (err) => {
                return $.NotificationApp.send("Error", err.responseJSON.msg, "top-right", "rgba(0,0,0,0.2)", "error");
            }
        })
    })
</script>