<%- include('./master_partials/header.ejs') %>

<!-- Wrapper content -->
<%- include('./master_partials/top_navbar.ejs') %>

<%- body %>

<%- include('./master_partials/right_sidebar.ejs') %>

<%- include('./master_partials/footer.ejs') %>

<%- defineContent('js') %>

</body>
</html>